.media-img {
    max-height: 300px;
    max-width: 300px;
    border-radius: 6px;
    border-bottom:10px;
    transition: transform .2s;
}

.media-img:hover {
    transform: scale(1.1);
}


.media-img-wrapper {
    width: 300px;
    text-align: center;
    margin-right:20px;
}



@media (max-width: 1024.98){
    .media {
        flex-direction: column;
    }

    .media-img {
        max-width:300px;
    }

    .media-img-wrapper {
        width:100%;
        height:auto;
    }
}
